@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        KABOOM!
    </h2>
    <p>
        Well, it looks like you're going to have to try that again. Better luck next time.
    </p>
</body>
</html>