@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>This page is a work in progress!</p>
@Html.ActionLink("Go To Bugs", "Index", "Bug", null, null) <br />
@Html.ActionLink("Go To Admin Console", "Index", "Admin", null, null)